.banner{
    position: relative;
}
.banner-section{
    padding: 4rem 1.35rem;
}
.banner-section__title{
    font-family: var(--main-font-family);
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
    text-align: center;
    color: white;
    font-weight: 300;
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
}
.banner-section__title span{
    font-weight: 700;
}
.banner-section__text{
    margin-bottom: 1.3rem;
    font-family: var(--main-font-family);
    font-size: 1.1rem;
    text-align: center;
    color: white;
    font-weight: 300;
}
.banner-section__btns{
    font-size: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}
.button{
    border: 1px solid white;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fefefe;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--main-font-family);
    cursor: pointer;
    outline: none;
    transition: background-color linear 0.5s;
}
.button:first-child{
    margin-right: 0.3rem;
}
.button:hover{
    background-color: var(--color);
    border: 1px solid var(--color);
}
.available-block{
    text-align: center;
}
.available-block__text{
    font-family: var(--main-font-family);
    font-size: 1rem;
    color: white;
    font-weight: 300;
    margin-right: 0.3rem;
}
.available-block__icon{
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: #000000;
}
.available-block__icon svg{
    width: 1rem;
    height: 1rem;
    fill: white;
}
.available-block__icon:hover svg{
    fill: var(--color);
}
.dots{
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 0;
    transform: translateX(-50%);
}
.dots span{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.dots span:last-child{
    margin-right: 0rem;
}
.dots span:hover{
    background-color: var(--color);
    border: 1px solid var(--color);
}
.controller-block__icon{
    position: absolute;
    display: inline-block;
    padding: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #000000;
}
.controller-block__icon:hover{
    background-color: var(--color);
}
.controller-block__icon--right{
   top:50%;
   left: 0;
   background-image: url('../img/icon.png');
}
.controller-block__icon--left{
    top:50%;
    right: 0;
    background-image: url('../img/icon.png');
    transform: rotate(180deg);
}
@media (min-width: 760px){
    .banner-section{
        width: 80%;
        padding: 7rem 0rem;
        margin: auto;
    }
    .banner-section__title{
        margin-bottom: 1.7rem;
        font-size: 2.1rem;
    }
    .banner-section__text{
        margin-bottom: 1.9rem;
        font-size: 1.3rem;
    }
    .button{
        padding: 0.9rem 1.4rem;
        font-size: 1rem;
    }
    .button:first-child{
        margin-right: 0.8rem;
    }
    .available-block__text{
        font-size: 1.3rem;
    }
    .available-block__icon{
        padding: 0.7rem 0.9rem;
    }
    .available-block__icon svg{
        width: 1.4rem;
        height: 1.4rem;
    }
    .controller-block__icon{
       padding: 0.4rem;
       width: 2.5rem;
       height: 2.5rem;
    }
    .dots span{
        width: 1rem;
        height: 1rem;
    }
}
@media (min-width: 1040px){
    .banner-section__title{
        margin-bottom: 1.8rem;
        font-size: 2.7rem;
    }
    .banner-section__text{
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
}