
.banner-section{
    position: relative;
    padding: 4rem 1.25rem;
}
.banner-section__title{
    font-family: var(--main-font-family);
    margin-bottom: 1.3rem;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
}
.banner-section__title span{
    font-weight: 700;
}
.banner-section__text{
    font-family: var(--main-font-family);
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.3rem;
}
.banner-section__btns{
    margin-bottom: 1.5rem;
    text-align: center;
}
.button{
    border: 1px solid white;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fefefe;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--main-font-family);
    cursor: pointer;
    outline: none;
    transition: background-color linear 0.5s;
}
.button:first-child{
    margin-right: 0.3rem;
}
.button:hover{
    background-color: var(--color);
    border: 1px solid var(--color);
}
.available-block{
    text-align: center;
}
.available-block__text{
    font-family: var(--main-font-family);
    font-size: 1rem;
    color: white;
    font-weight: 300;
    margin-right: 0.3rem;
}
.available-block__icon{
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: #000000;
}
.available-block__icon svg{
    width: 1rem;
    height: 1rem;
    fill: white;
}
.available-block__icon:hover svg{
    fill: var(--color);
}
.dots{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.dots span{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}
.dots span:hover{
    background-color: var(--color);
    border: 1px solid var(--color);
}
.controller-block__icon{
    position: absolute;
    display: inline-block;
    padding: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #000000;
}
.controller-block__icon:hover{
    background-color: var(--color);
}
.controller-block__icon--right{
   top:50%;
   left: 0;
   background-image: url('../img/icon.png');
}
.controller-block__icon--left{
    top:50%;
    right: 0;
    background-image: url('../img/icon.png');
    transform: rotate(180deg);
}