.header{
  position: relative;
  overflow: hidden;
}
.logo{
    z-index: 99;
    display: block;
    width: 8.6rem;
    height: 2.25rem;
    background: url('../img/Logo.png') no-repeat center;
    background-size: contain;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
}
.navigation::after{
  position: absolute;
  content: '';
  left: 0;
  background-color: #070707;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.menu-icon{
  z-index: 99;
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url('../img/svg/menu-circular-button.svg');
}
.menu{
  position: absolute;
  z-index: 999;
  top: 100%;
  right: 0%;
  padding: 1rem 0;
  width: 60%;
  margin-right: -60%;
  background-image:url('../img/Layer_15.png');
  transition: margin-right linear 1.5s;
}
.menu-show{
  margin-right: 0;
  transition: margin-right linear 1.5s;
}
.menu__item{
  list-style: none;
}
.menu__link{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  color: white;
  padding: 1rem 0.8rem;
}
.menu__link:hover{
  color: var(--color);
}
@media (min-width:760px){
   .navigation{
      padding: 1.5rem 1rem;
   }
   .menu-icon{
     width: 2.5rem;
     height: 2.5rem;
   }
   .menu__link{
     font-size: 1.2rem;
   }
}
@media (min-width: 1040px){
  .navigation{
    padding: 3rem 1.8rem;
  }
   .menu{
     display: flex;
     justify-content: space-between;
     flex-basis: 80%;
     position: static;
     margin-right: 0;
     background-image: none;
     padding: 0;
     transition: none;
   }
   .menu-icon{
     display: none;
   }
   .menu__link{
    padding: 0rem 1rem;
   }
}