.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper--header{
    background-image: url('../img/Layer_15.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
