.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper--header{
    background-image: url('../img/Layer_15.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.wrapper--features,
.wrapper--testimonials{
    background-color: #f9f9f9;
}
.wrapper--video{
    background-image: url(../img/wrapper--video.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: var(--color);
}
.wrapper--dowload,
.wrapper--footer{
    background-color: #414042;
}
.wrapper--contact{
    background-image: url('../img/Map.png');
    background-position: top center;
    background-size: cover;
}